<h1>Sign up</h1>

<div><%=notice%></div>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>
                 
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username" placeholder="Choose your username...">
  </div>

      
  <div>
    <label for="account_type_box">Account type</label> 
      
   
    <select id="account_type_box" name="query_account_type">
      <option value="regular">
        Regular
      </option>      
      <option value="premium">
        Premium
      </option>
    </select>
  </div>
         
  <div>
    <label for="photos_count_box"></label>
      
    <input type="hidden" id="photos_count_box" name="query_photos_count" value="0">
  </div>
         
  <div>
    <label for="comments_count_box"></label>
      
    <input type="hidden" id="comments_count_box" name="query_comments_count" value="0">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
